@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: #210a28;
}
/* SCROLL BAR STYLES */
html::-webkit-scrollbar {
    width: 0.5rem;
}

html::-webkit-scrollbar-track {
    background: transparent;

}

html::-webkit-scrollbar-thumb {
    background: #dcd2d2;
    border-radius: 5rem;
}